:root {
    --black: #121212;
    --dark-gray: #1c1c1c;
    --darker-gray: #2a2a2a;
    --medium-gray: #505050;
    --light-gray: #9c9c9c;
    --very-light-gray: #c1c1c1;
    --white: #ffffff;
}

.about-us {
    display: flexbox;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.intro-text {
    display: flexbox;
}

.intro-participants {
    align-items: center;
    align-items: self-start;
    display: flex;
    justify-content: space-evenly;
    padding: 0;

}

.intro-participants div {
    background-color: var(--medium-gray);
    border-radius: 10%;
    border: 5 px solid var(--darker-gray);
    box-shadow: var(--very-light-gray);
    width: 350px;
}

.intro-participants div:hover {
    box-shadow: #121212;
}

.intro-participants div div img {
    border-radius: 40%;
    height: auto;
    width: 300px;
}

.intro-participants div div img:hover {
    transform: scale(1.01);
}

a {
    color: var(--white);
}