/* palheta de cores
#121212 (Preto)
#1C1C1C (Cinza escuro)
#2A2A2A (Cinza ainda mais escuro)
#505050 (Cinza médio)
#9C9C9C (Cinza claro)
#C1C1C1 (Cinza muito claro)
#FFFFFF (Branco) */
:root {
  --color-background: #121212;
  --color-text: #C1C1C1;
  --color-link: #9C9C9C;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
}

.App-link {
  color: var(--color-link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}